<mat-card>
  <h1>Create New Employee</h1>
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="new-employee-field">
      <input matInput placeholder="First Name" formControlName="FirstName" />
    </mat-form-field>
    <mat-form-field class="new-employee-field">
      <input matInput placeholder="Last Name" formControlName="LastName" />
    </mat-form-field>
    <mat-form-field class="new-employee-field">
      <input matInput placeholder="Email" formControlName="Email" />
    </mat-form-field>
    <mat-form-field class="new-employee-field">
      <input
        matInput
        placeholder="Phone Number"
        formControlName="PhoneNumber"
      />
    </mat-form-field>
    <mat-form-field class="new-employee-field">
      <input matInput placeholder="Mobile" formControlName="Mobile" />
    </mat-form-field>

    <button mat-raised-button [disabled]="!employeeForm.valid">
      Create Employee
    </button>
  </form>
</mat-card>
